.FRCShow{
    background-color: #e7e5e5;
    display: flex;
    flex: 0.7;
    height: 100vh;
    min-width: 500px;
    overflow: scroll;


}
.FRCSContent{
    padding: 30px;
    width: 100%;
    
}
.FRCSCTitle{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

