
.CardApperance-exit{
    opacity: 1;
}
.CardApperance-exit-active{   
    transition: all 800ms;
}
.CardApperance-exit-done{
    opacity: 0;
    display: none;

}
.FRCard{
    width: 200px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 10px;
    margin-right: 10px;

}
.FRCImg{
    height: 60%;
    overflow: hidden;
    cursor: pointer;
    background-color: antiquewhite;
    display: grid;
    place-items: center;
}
.FRCImg>img{
    max-width: 100%;
    /* max-height: 100%; */
    /* object-fit: cover; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.FRCContent{
    /* background-color: cadetblue; */
    bottom: 0px;
    height: 40%;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;

}
.FRCTitle{
    font-weight: 600;
}
.FRCConfirm{
    margin-top: 20px;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: rgb(106, 106, 238);
    border-radius: 5px;
    cursor: pointer;
   
}
.FRCConfirmAcc{
    margin-top: 20px;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: rgb(152, 152, 240);
    border-radius: 5px;
    cursor: pointer;
   
}
.FRCConfirm:hover{
    background-color: rgb(96, 96, 238);

}
.FRCDelete{
    margin-top: 5px;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    color: black;
    background-color: #d4d3d3;
    border-radius: 5px;
    cursor: pointer;
    
}
.FRCDelete:hover{
    background-color: #d1cfcf;
}
.FRCRequestDel{
    margin-top: 5px;
    padding: 10px;
    font-weight: 600;
    text-align: center;
    opacity: 0.7;
    color: grey;
    background-color: #d4d3d3;
    border-radius: 5px;
}