.nchat_message{
    position: relative;
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
    margin-left: 80px;
    max-width: 60%;
    margin-bottom: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.nchat_receiver{
    /* background-color: #dcf8c6; */
    background-color: #dcf8c6;
    margin-right: 80px;
    margin-left: auto;
}

.chat_right_corner:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 8px solid #dcf8c6;
    border-right: 8px solid transparent;
    border-top: 8px solid #dcf8c6;
    border-bottom: 8px solid transparent;
    right: -8px;
    top: 0px;
    
}

.chat_left_corner:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid #ffffff;
    border-top: 8px solid #ffffff;
    border-bottom: 8px solid transparent;
    left: -8px;
    top: 0px;
}
.ncm_box{
    background-color: tomato;
}
.nchat_timestamp{
    position: relative;
    width: 75px;
    margin-left: auto;
    color: gray;
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
}
.nchat_timestamp_receiver{
    position: absolute;
    top: -10px;
    right: 20px;
    width: fit-content;
}
.nchat_timestamp_sender{
    position: absolute;
    top: -10px;
    width: fit-content;
}
.nseenicon{
    top: -12px;
    position: absolute;
}
.nseeniconseen{
    color: rgb(113, 113, 236);
}
.ncm_box_sender{
    background-color: turquoise;
    margin-right: 60px;
}
.ncm_box_receiver{
    background-color: tomato;
    margin-right: 80px;
}
.readmore{
    /* position: absolute; */
    color: rgb(69, 69, 240);
    font-weight: 600;
    /* cursor: pointer; */
    /* margin-top: -5px; */
    text-align: left;
    padding: 5px;
    /* margin: 5px; */
    width: fit-content;
    /* background-color: turquoise; */
}
.readmore:hover{
    cursor: pointer;
}