.infobar{
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
.infoheader{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-left-style: solid;
    border-left-color: lightgray;
    border-left-width: 0.1px;
}
.infocross{
    width: 100px;
    display: grid;
    place-items: center;
    color: brown;
}
.infocross > .MuiSvgIcon-root{
    cursor: pointer;
}
.infointro{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-left: 10px;
    font-weight: 500;
}
.infodisplay{
    width: 100%;
    height: 350px;
    background-color: white;
    margin-bottom: 10px;
    /* position: relative;    */
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.infoimg{
    width: 100%;
    height: 80%;
    display: grid;
    place-items: center;
}

.infoimg>img{
    width: 210px;
    height: 210px;
    border-radius: 105px;
}
.infoname{
    height: 20%;
    width: 100%;
}
.infoname>div{
    margin-left: 30px;
    font-size: 23px;
    font-weight: 400;

}
.about{
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.abouttitle{
    height: 35%;
    padding-top: 15px;
    padding-bottom: 20px;
    
    font-size: 13px;
    color: gray;
}
.aboutinfo{
    height: 30%;
    font-weight: 500;
    padding-top: 7px;
    padding-bottom: 20px;
    border-bottom: rgb(230, 230, 230);
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    font-size: 15px;
}
.aboutemail{
    height: 30%;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}