.sidebarChat{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;    
    height: 60px;
}
a{
    text-decoration: none !important;
    color: black;
}
.sidebarChat:hover{
    background-color: #f6f3f3;
}
/* ebebeb f3f2f2*/
.sidebarChatSelected{
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    background-color: #ebebeb;
}
.sidebarChat_info_main{
    display: flex;
    flex-direction: row;
    /* background-color: burlywood; */
    position: relative;
    margin-bottom: 5px;
}
.sidebarChat_info_name{
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
}
.sidebarChat_info_main>span{
    color: gray;
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 13px;
}

.sidebarChat_info{
    margin-left: 10px;
    padding: 4px;
    flex: 1;
    flex-direction: column;
}
.sidebarChat_info_last_content{
    display: flex;
    flex-direction: row;
    position: relative;
    
    
}
.sidebarChat_info_lastmsgcon{
    display: flex;
    flex-direction: row;
    position: relative;
    width: fit-content;
    background-color: violet;
    
}
.lastmsgcontext{
    color: gray;
    font-size: 16px;
    height: 20px;
    overflow: hidden;
}
.typing{
    color: #32CD32;
    font-size: 16px;
    height: 20px;
    overflow: hidden;
    font-weight: 600;
}

.sidebarChat_notification_badge{
    position: absolute;
    height: fit-content;
    right: 2px;
    top: 2px;
    background-color: #32CD32;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
}

