.sidebar{
    flex: 0.3;
    min-width: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
}

.sidebarcontent{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.profileSlidercontent-enter{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    right: 100%;
}
.profileSlidercontent-enter-active{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    right: 0%;
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.58, 1.0);
}
.profileSlidercontent-enter-done{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    right: 0%;
}
.profileSlidercontent-exit{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    right: 0%;
}
.profileSlidercontent-exit-active{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    right: 100%;
    transition: all 250ms;
    transition-timing-function: cubic-bezier(0.7, 0.0, 1.0, 1.0);
}
.profileSlidercontent-exit-done{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    right: 100%;
}

.sidebar_search{
    flex: 0.05;
    min-height: 30px;
    align-items: center;
    background-color: #f6f6f6;
    padding: 10px;
}

.sidebar_searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    position: relative;
}

.sidebar_searchContainer > .MuiSvgIcon-root{
    color: gray;
    padding: 10px;
}

.sidebar_Search_focus{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}
.sidebar_Search_blur{
    background-color: #f6f6f6;

}
.icons{
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    color: grey;
    cursor: pointer;
}
.icons > div > .MuiSvgIcon-root{
    height: 20px;
    width: 20px;
}

.arrow-enter{
    transform: rotate(-135deg);
    opacity: 0;
}
.arrow-enter-active{
    transform: rotate(0deg);
    opacity: 1;
    transition: all 300ms;
}
.arrow-enter-done{
    opacity: 1;
    transform: rotate(0deg);
}
.arrow-exit{
    opacity: 1;
    transform: rotate(135deg);
}
.arrow-exit-active{
    opacity: 1;
    transform: rotate(0deg);
    transition: all 200ms;
}
.arrow_exit-done{
    opacity: 1;
    transform: rotate(0deg);
}

.sidebar_searchContainer > input{
    width: 80%;
    position: absolute;
    border-radius: 30px;
    border: none;
    margin-left: 10px;
    /* font-weight: 20px; */
    padding: 10px;
    right: 0px;
}
.sidebar_searchContainer>input:focus{
    outline: none;
}
.send_request{
    
    flex: 0.07;
    cursor: pointer;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    background-color: white;
    display: flex;
    align-items: center;

}
.sr_content{
    display: flex;
    /* background-color: gray; */
    flex: 1;
    padding-left: 25px;
    align-items: center;

}
.src_icon{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    /* background-color: white; */
    display: grid;
    place-items: center;
    margin-right: 20px;
}
.src_title{
    font-size: 16px;
    font-weight: 500;
}

.sidebar_header{

    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    /* flex: 0.08; */
    height: 60px;
    position: relative;
    border-right: 1px solid lightgray;
    /* border-bottom: 1px solid lightgray; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */

}
.sidebar_header > .profilepic{
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.sidebar_headerRight{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    min-width: 6vw;
}

/* .sidebar_headerRight > .MuiSvgIcon-root{
    
} */

.sidebar_chats{
    flex: 1;
    background-color: white;
    /* height: 50%; */
    overflow: scroll;
    /* overflow-y: scroll; */
}
.chats_tag{
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    cursor: pointer;
    color: gray;
    border-bottom: 1px solid #f6f6f6;    
    border-top: 1px solid #f6f6f6;    
    display: block;
}
.chats_tag_not_show{
    display: none;
}