.hoverContent{

    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: rgb(149, 148, 148);
    opacity: 0.9;
    display: grid;
    place-items: center;
}
.hoversubContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hoverCamera{
    color: white;
}
.hoverText{
    color: white;
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
}