.box{
    width: 30%;
    padding: 20px;
    background-color: cadetblue;
    margin: 50px;
}
.boxcontent{
    height: 60vh;
    background-color:turquoise;
    padding: 20px;
}
.boxtext{
    padding: 20px;
    flex: 1;
    height: 90%;
    overflow: scroll;
    background-color: white;
    border-radius: 10px;
}