.AllFsidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  min-width: 400px;
  
  height: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #ededed;
}
.AllFsidebarcontent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.AllFsidebar_header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.AllFsidebar_headerRight {
  display: flex;
  align-items: center;
  min-width: 6vw;
}
.AllFScontent {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 21vh;

}
.AllFScontent{
  height: 170px;
}
.AFsearch {
  width: 100%;
  height: 125px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
}
.AFStitle {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin-bottom: 10px;
}
.AFSback {
  display: flex;
  align-items: center;
  color: gray;
  cursor: pointer;
}
.AFStitles {
  width: 100%;
  padding-top: 5px;
  padding-left: 10px;
}
.AFSTsmall {
  font-size: 15px;
  color: rgb(110, 108, 108);
}
.SFSTbig {
  font-size: 30px;
  font-weight: bold;
}
.AFSinput {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    position: relative;
}
.AFSIIcon{
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: grey;
    cursor: pointer;
    padding: 10px;
    display: grid;
    place-items: center;
}
.AFSIIcon > .MuiSvgIcon-root{
    color: grey;
}
.AFSinput > input{
    width: 90%;
    position: absolute;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    height: 100%;
    right: 0px;
}
.AFSinput>input:focus{
    outline: none;
}
.friendCount{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ALFSCfriends{
    flex: 1;
    overflow: scroll;
}