.AFSCard{
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
}
.ASFCcontent{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    padding-left: 10px;
}
.ASFCcontent:hover{
    background-color: rgb(221, 219, 219);
}
.AFSCselect{
    background-color: rgb(221, 219, 219);
}
.ASFCCPname{
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}