.PUCard{
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: aquamarine; */
    /* border-bottom: 1px solid lightgray; */
}
.PUCcontent{
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    padding-left: 10px;
}
.PUCC_info{
    /* background-color: antiquewhite; */
    width: 100%;
    margin-left: 10px;
}
.PUCCname{
    font-size: large;
    font-weight: 600;
    /* margin-left: 10px; */
}
.PUCCI_email{
    margin-top: 3px;
    font-size: small;

}