.PUCard{
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
}
.PUCcontent{
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    padding-left: 10px;
}

.PUCCname{
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}