.Preview{
    flex: 0.7;
    /* display: grid;
    place-items: center; */
    background-color: rgb(211, 206, 206);

}
.Pcontent{
    /* position: absolute; */
    background-color: #e7e5e5;
    /* border-radius: 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* width: 600px;
    height: 500px; */
    display: grid;
    place-items: center;
    
    width: 100%;
    height: 50%;
    
}
.PSubcontent{
    /* position: absolute; */
    /* margin: 0 auto;
    left: 50%;
    top: 50%; */
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.Pinfo{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}
.Ppic{
    height: 250px;
    width: 250px;
    border-radius: 125px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.Pname{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: bold;
}
.Pfriendscount{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    /* background-color: gray; */
    height: 30px;
}
.Pfchr{
    border: 0.5px solid black;
}

.Pemail{
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(39, 39, 39);


}
.Pbio{
    font-size: 20px;

}
